.cart-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    pointer-events: none;
}

.cart-window{
    width: 90%;
    height: 80%;
    background: white;
    padding: 15px;
    border-radius: 12px;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    transform: translateY(-50px);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.4s ease;
}

.cart-overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.cart-overlay.active .cart-window {
    transform: translateY(0);
    opacity: 1;
}

.cart-items{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    overflow-y: auto;

    padding-right: 5px;
}

.cart-h1{
    margin: 0;
    padding-left: 5px;
}

.main-basket{
    padding: 10px;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

}

#closeCartBtn{
    display: flex;
    justify-content: flex-end; /* вправо */
}

#closeCart{
    border: none;
    user-select: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: none;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.cart-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}

.cart-img{
    width: 100px;
    height: 145px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}

.cart-info{
    flex: 1;
    font-size: 20px;
    height: 100%;
}

.cart-info h3{
    margin: 0;
    font-size: 25px;
}

.cart-info p{
    font-size: 22px;
}

.remove-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.cart-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.cart-delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

#checkoutBtn{
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    width: 165px;

    justify-content: center;
    align-items: center;
    display: flex;
}

#checkoutBtn:hover{
    border-color: rgb(0, 205, 0);
}

#deleteBtn{
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    width: 165px;

    justify-content: center;
    align-items: center;
    display: flex;
}

#deleteBtn:hover{
    border-color: red;
}

.top-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
    margin: 0;
}

.cancel-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
}

.basket-h3{
    font-size: 20px;
}

.sum-h3{
    font-size: 20px;
}

.basket-btn.active{
    border: 2px solid rgb(0, 205, 0);
    box-shadow: 0px 0px 5px rgb(0, 205, 0);
}

body.no-scroll{
    overflow: hidden;
}


.cart-items{
    scrollbar-width: thin;
    scrollbar-color: #9e9e9e transparent;
}

.cart-items::-webkit-scrollbar{
    display: block;
    width: 4px;
}

.cart-items::-webkit-scrollbar-track{
    background: transparent;
}

.cart-items::-webkit-scrollbar-thumb{
    background-color: #9e9e9e;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.cart-items::-webkit-scrollbar-thumb:hover{
    background-color: #7a7a7a;
}

.toast{
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    border-radius: 12px;
    padding: 12px 20px;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    opacity: 0;
    transform: translateY(-60px);
    transition: transform 0.45s ease, opacity 0.45s ease;
    z-index: 100;
    pointer-events: none;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.toast.show{
    opacity: 1;
    transform: translateY(75px);
}

.toast.hide{
    opacity: 0;
    transform: translateY(-60px);
}