.second-container {
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cards::-webkit-scrollbar {
    display: none;
}

.product-card {
    border: 2px black solid;
    border-radius: 20px;
    width: 325px;
    min-width: 325px;
    height: 580px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    margin: 20px;
}

.product-card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.35);
}

.card-image {
    height: 360px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 17px 17px 0 0;
}

.product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-p {
    font-size: 18px; 
    margin: 0;
}

.price {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.info-cost {
    margin: 0;
    font-size: 24px;
}

.card-buy {
    margin-left: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.card-buy:hover {
    box-shadow: 0 0 0 1px black;
    background-color: #f0f0f0;
}

.about-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    border-bottom: 3px solid black;
}

.about-warning {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(70, 70, 70);
}

.buy-row{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-count{
    width: 225px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 2px solid black;
}

.buy-row-js{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.product-count-js{
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid black;
    align-items: center;
}

.product-count-js button{
    width: 60px;
    height: 100%;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;


    line-height: 1;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.product-count button{
    width: 60px;
    height: 100%;
    border: none;
    background: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;


    line-height: 1;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.product-count button:hover{
    background-color: #c5c5c5;
}

.product-count-js button:hover{
    background-color: #c5c5c5;
}

.count{
    font-weight: bold;
    font-size: 18px;
}

.product-btn-img{
    width: 25px;
    height: auto;
}

.card-buy * {
    pointer-events: none;
}

.cards-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}