.second-container {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}


.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.cards::-webkit-scrollbar {
    display: none;
}

.product-card {
    border: 2px black solid;
    border-radius: 20px;
    width: 325px;
    min-width: 325px;
    height: 580px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
    margin: 20px;
}


.card-image {
    height: 360px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 17px 17px 0 0;
}

.product-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-p {
    font-size: 18px; 
    margin: 0;
}

.price {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.info-cost {
    margin: 0;
    font-size: 24px;
}

.card-buy {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.3s ease;
    margin-top: 15px;
    cursor: pointer;
}

.card-buy:hover {
    box-shadow: 0 0 0 1px black;
    background-color: #f0f0f0;
}

.about {
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.about-h1 {
    text-align: center;
    padding-top: 55px;
}

.hero-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 80px;
    gap: 60px;
}

.about-image {
    height: auto;
    width: 100%;
    max-width: 550px;
}

.about-img {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.about-p {
    max-width: 520px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.about-warning {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(70, 70, 70);
}

