.carousel{
    display: flex;
    width: 100%;
    margin: 100px auto;
    font-family: "Limelight", sans-serif;
    font-weight: 900;
    font-style: normal;
    overflow-x: auto;
    overflow-y: hidden;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: spin 30s infinite linear;
    padding-right: 20px;
}

.brand{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 110px;
    margin-right: 75px;
    margin-left: 75px;
    font-size: 55px;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.5s ease;
    cursor: default;
    position: relative;
    transition: 0.3s ease;
}

.brand::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background: black;

    transform: scaleX(0);
    transform-origin: center;
    transition: 0.4s ease;
}

.brand:hover::after{
    transform: scaleX(1);
}

.brand:hover{
    transform: scale(1.15);
}

@keyframes spin{
    from {translate: 0}
    to {translate: -100%}
}

.carousel-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 90px;
    border-bottom: 3px solid black;

    margin: 20px 0 20px 0;
}

.carousel-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}