footer{
    margin: 0;
    background: rgba(255, 255, 255, 0.5); /* полупрозрачность */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* для Safari */
    border-top: 2px black solid;
    font-weight: bolder;


    width: 100%;
    position: relative;

    background-image: url("images/main.jpg");
    background-size: cover;          /* не плющит */
    background-repeat: no-repeat;
    background-position: center 85%;
}

.footer-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px;

    position: relative;
    z-index: 1;
}

.footer::before{
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.5);

    z-index: 0;
}


.column{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.column-left{
    align-items: flex-start;
    text-align: left;
}

/* Центр */
.column-center{
    align-items: center;
    text-align: left;
}

/* Правая */
.column-right{
    align-items: flex-end;
    text-align: left;
    flex-direction: row;

}

.column-p{
    font-size: 20px;
    display: inline-block;
    transition: 0.3s ease;
    text-align: left;
    margin: 3px;
}

.column-link{
    transition: 0.3s ease;
    cursor: pointer !important
}

.column-link:hover{
    scale: 1.1;
}

.name{
    font-weight: bold;
}

.social-footer {
    font-size: 32px;
    color: black;
    transition: 0.3s;
}

.social-footer:hover{
    scale: 1.1;
}

.social-footer.instagram-ftr:hover {
    color: #e1306c;
}

.social-footer.tiktok-ftr:hover {
    color: #000000;
}

.social-footer.facebook-ftr:hover {
    color: #1877f2;
}

.socials{
    position: absolute;
    right: 30px;
    bottom: 25px;

    display: flex;
    gap: 20px;
    align-items: center;
}
