header{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header::before{
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.2);
    border-bottom: 2px black solid;
    opacity: 0;
    transition: opacity 0.35s ease;
    z-index: -1;
}

.header.scrolled::before{
    opacity: 1;
}


.logo-image{
    height: 60px;
    width: auto;
}

.logo{

    user-select: none;
    cursor: pointer;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.navigation{

    display: flex;
    gap: 75px;
    align-items: center;
}

.get-started{
    user-select: none;
    width: 150px;
    height: 40px;
    border: 2px black solid;
    
    background: rgba(255, 255, 255, 0.25); /* полупрозрачность */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* для Safari */

    color: black;
    border-radius: 20px;
    font-size: 18px;
    transition: box-shadow 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}


.get-started:hover{
    scale: 1.05;
}

.basket-btn:hover{
    scale: 1.05;
}

.basket-btn{
    user-select: none;
    width: 40px;
    height: 40px;
    border: 2px black solid;
    
    background: rgba(255, 255, 255, 0.25); /* полупрозрачность */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* для Safari */

    color: black;
    border-radius: 20px;
    font-size: 18px;
    transition: border 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}

.shop-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: auto;
}

.nav-start{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 15px;
}

.nav-btn{
    position: relative;
    display: inline-flex;   /* важно */
    align-items: center;
    justify-content: center;

    padding: 6px 16px;      /* вместо width/height */
    border-radius: 18px;
    overflow: hidden;       /* ОЧЕНЬ важно */
    
    font-size: 18px;
    cursor: pointer;
    transition: 0.35s ease;
}

.nav-btn::before{
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    border-radius: inherit;
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.25);
    opacity: 1;
    
    z-index: -1;
}

.nav-btn.scrolled::before{
    opacity: 0;
    border: none;
}

.nav-btn:hover{
    scale: 1.1;
}
