#collection-btn {
    scroll-margin-top: 70px; /* примерно высота хедера + небольшой запас */
}

#about-us-btn {
    scroll-margin-top: 170px; /* примерно высота хедера + небольшой запас */
}

#carousel-us-btn{
    scroll-margin-top: 120px;
}